doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Portfolio
    meta(name="description" content="Portfolio")
    include ../includes/_metaAuthor.pug
    include ../includes/_styleDeps.pug
    block styles
  body
    .container-fluid
      .row.text-right.mt-3
        .col-lg-12
          h5= locals.config.heading
            span.badge.text-muted= locals.config.subHeading
      .row
        .col-lg-12
          h3.display-2= locals.application.name
      .row
        .col-lg-12
          h4.font-italic= locals.application.subHeading
          p.text-muted= locals.application.description
          hr
      include ../includes/_navigation.pug
      block content

    block footer
    include ../includes/_jsDeps.pug
    block scripts