extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
      .row.splitter
        .col-lg-12
          h3 Result: 
            span#result Find a word in this sentence and replace it with a different word. Try finding - "a".
      .row
        .col-lg-3
          form#findReplaceForm
            .form-group
              label(for="findInput") Find this:
              input#findInput.form-control(
                name="findInput", 
                type="text", 
                placeholder="Find this...", 
                required, 
                data-rule-nonNumeric="true",
                data-msg-nonNumeric="Only alphabatic characters allowed.")
            .form-group
              label(for="replaceInput") Replace with:
              input#replaceInput.form-control(
                name="replaceInput", 
                type="text", 
                placeholder="Replace with...", 
                required, 
                data-rule-nonNumeric="true",
                data-msg-nonNumeric="Only alphabatic characters allowed.")
             
            button.btn.btn-primary(type="submit") Submit

block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  // endbuild