- var directory = htmlWebpackPlugin.options.locals.application.useRoot ? "./" : "../";
title=htmlWebpackPlugin.options.locals.config.title
meta(charset="utf-8")
meta(name="description" content=htmlWebpackPlugin.options.locals.config.description)
meta(name='viewport', content='width=device-width, initial-scale=1, minimal-ui, user-scalable=no')
meta(name="author" content=htmlWebpackPlugin.options.locals.config.author)
meta(name="folder" content=htmlWebpackPlugin.options.locals.application.folder)
meta(property="og:image" content=require("../../images/"+htmlWebpackPlugin.options.locals.config.thumbnail).default.replace("../", directory))
block head
link(rel='icon' href=require("../../favicon.ico").default.replace("../", directory) type='image/x-icon')
link(href=directory+'vendor/vendor.css' rel='stylesheet')
script(defer src=directory+'vendor/vendor.js')