- var directory = htmlWebpackPlugin.options.locals.application.useRoot ? "" : "../";
nav#navBar.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(
      href=directory+"index.html")
    img#navbarImage(src=require("../../images/FSLogo.png").default.replace("../", directory), alt="Fabio Sereno logo image").pull-left
    h2.display-4.m-0.p-0#titleHeading.d-flex= htmlWebpackPlugin.options.locals.config.author
    p.lead.m-0.p-0#titleSubHeading.sub-heading.d-flex.text-white= htmlWebpackPlugin.options.locals.config.role
  button.navbar-toggler(
      id="navbarNavDropdownBtn"
      type='button'
      data-toggle='collapse'
      data-target='#navbarNavDropdown'
      aria-controls='navbarNavDropdown'
      aria-expanded='false'
      aria-label='Toggle navigation')
    span.navbar-toggler-icon
        hr
        hr
        hr
  #navbarNavDropdown.collapse.navbar-collapse.flex-row-reverse
    ul.navbar-nav
        li.nav-item
            a.nav-link(href=directory+"index.html")
                | Home
                i.fa.fa-home.ml-2
        li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(
                href='#'
                role='button'
                data-toggle='dropdown'
                aria-haspopup='true'
                aria-expanded='false')
                | Applications
            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                each application, index in htmlWebpackPlugin.options.locals.config.applications
                    if (application.active !== false && application.include !== false)
                        a(class=(htmlWebpackPlugin.options.locals.application.folder === application.folder
                        ? "active"
                        : "") + " dropdown-item",
                        href=directory+htmlWebpackPlugin.options.locals.config.prefix+application.folder+"/index.html")= application.name
                .dropdown-divider
                a(class=(htmlWebpackPlugin.options.locals.config.entry === htmlWebpackPlugin.options.locals.application.folder
                ? "active"
                : "") + " dropdown-item",
                href=directory+"index.html")
                    | Home
                    i.fa.fa-home.ml-2
        li.nav-item
            a.nav-link(href=(htmlWebpackPlugin.options.locals.application.folderRoot !== undefined
                ? htmlWebpackPlugin.options.locals.config.repoRootUrl+htmlWebpackPlugin.options.locals.application.folderRoot
                : htmlWebpackPlugin.options.locals.config.repoRootUrl+htmlWebpackPlugin.options.locals.config.folderRoot+htmlWebpackPlugin.options.locals.config.prefix+htmlWebpackPlugin.options.locals.application.folder),
                target="_blank")
                | View on Github
                i.fa.fa-github.ml-2
        li.nav-item
            a.nav-link(href=htmlWebpackPlugin.options.locals.config.linkedInUrl, target="_blank")
                | Linkedin
                i.fa.fa-linkedin.ml-2