- var directory = htmlWebpackPlugin.options.locals.application.useRoot ? "./" : "../";
nav#navBar.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.px-2
  a.navbar-brand(
      href=directory+"index.html")
    img#navbarImage(src=require("../../images/FSLogo.png").default.replace("../", directory), alt="Fabio Sereno logo image").pull-left
    h2.display-4.m-0.p-0#titleHeading.d-flex= htmlWebpackPlugin.options.locals.config.author
    p.lead.m-0.p-0#titleSubHeading.sub-heading.d-flex.text-white= htmlWebpackPlugin.options.locals.config.role
  button.navbar-toggler(
      id="navbarNavDropdownBtn"
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNavDropdown'
      aria-controls='navbarNavDropdown'
      aria-expanded='false'
      aria-label='Toggle navigation')
    span.navbar-toggler-icon
        span.d-block
        span.d-block
        span.d-block
  #navbarNavDropdown.collapse.navbar-collapse.flex-row-reverse
    ul.navbar-nav
        li.nav-item
            a.nav-link(href=directory+"index.html")
                | Home
                i.fa.fa-home.ms-2
        li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(
                href='#'
                role='button'
                data-bs-toggle='dropdown'
                aria-haspopup='true'
                aria-expanded='false')
                | Applications
            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')#applicationsDropdown
        li.nav-item
            a.nav-link(href=(htmlWebpackPlugin.options.locals.application.folderRoot !== undefined
                ? htmlWebpackPlugin.options.locals.config.repoRootUrl+htmlWebpackPlugin.options.locals.application.folderRoot
                : htmlWebpackPlugin.options.locals.config.repoRootUrl+htmlWebpackPlugin.options.locals.config.folderRoot+htmlWebpackPlugin.options.locals.config.prefix+htmlWebpackPlugin.options.locals.application.folder),
                target="_blank")
                | View on Github
                i.fa.fa-github.ms-2
        li.nav-item
            a.nav-link(href=htmlWebpackPlugin.options.locals.config.linkedInUrl, target="_blank")
                | Linkedin
                i.fa.fa-linkedin.ms-2