extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content    
      .row.splitter
        .col-lg-12
          h3 Result: 
            span#result       
              | Name: 
              strong(data-bind='text: name')
              |, Age: 
              strong(data-bind='text: age')
              | !
      .row
        .col-lg-3
          .card
            .card-body
              form#inputForm
                .form-group
                  label(for="name") Name:
                  input#language.form-control(
                    name="name", 
                    type="text", 
                    placeholder="Input...",
                    data-bind='value: name',
                    required)
                .form-group
                  label(for="age") Age:
                  input#framework.form-control(
                    name="age", 
                    type="number", 
                    placeholder="Input...",
                    data-bind='value: age',
                    required)
                .form-group
                  button#update.btn.btn-success(
                    type="button",
                    data-bind="click: add",
                    ) Add item
        .col-lg-6
          .card
            .card-body
              table.table.table-striped
                thead.thead-dark
                  th Name
                  th Age
                  th Edit
                  th Delete
                tbody(data-bind="if: collection().length === 0")
                  tr
                    td(colspan="4")
                      | There are no rows to display
                tbody(data-bind="foreach: collection")
                  tr
                    td(data-bind="text: name")
                    td(data-bind="text: age")
                    td
                      button(
                        class="btn btn-success", 
                        data-toggle="modal", 
                        data-target="#editModal",
                        data-bind="click: $parent.edit")
                        i.fa.fa-edit
                    td
                      button(
                        class="btn btn-danger", 
                        data-toggle="modal", 
                        data-target="#deleteModal",
                        data-bind="click: $parent.remove")
                        i.fa.fa-trash
                          
      #deleteModal.modal.fade(
        tabindex='-1',
        role='dialog',
        aria-labelledby='deleteModalLabel',
        aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#deleteModalLabel.modal-title Are you sure ?
              button.close(
                type='button',
                data-dismiss='modal',
                aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              | Confirm you would like to delete the item.
            .modal-footer
              button.btn.btn-secondary(
                type='button',
                data-dismiss='modal') Close
              button.btn.btn-danger(
                type='button', 
                data-dismiss='modal', 
                data-bind="click: removeConfirm") Confirm Delete
      #editModal.modal.fade(
        tabindex='-1',
        role='dialog',
        aria-labelledby='editModalLabel',
        aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#editModalLabel.modal-title Edit Details
              button.close(
                type='button',
                data-dismiss='modal',
                aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              form#editForm
                .form-group
                  label(for="name") Name:
                  input#language.form-control(
                    name="name", 
                    type="text", 
                    placeholder="Input...",
                    data-bind='value: nameToEdit',
                    required)
                .form-group
                  label(for="age") Age:
                  input#framework.form-control(
                    name="age", 
                    type="number", 
                    placeholder="Input...",
                    data-bind='value: ageToEdit',
                    required)
            .modal-footer
              button.btn.btn-secondary(
                type='button',
                data-dismiss='modal') Close
              button.btn.btn-success(
                type='button', 
                data-dismiss='modal', 
                data-bind="click: update") Save Changes

block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  script(src="../../node_modules/knockout/build/output/knockout-latest.js")
  // endbuild