extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content    
      .row.splitter
        .col-lg-12
          h3 Result: 
            span#result       
              | Name: 
              strong(data-bind='text: Name')
              |, Age: 
              strong(data-bind='text: Age')
              | !
      .row
        .col-lg-3
          form#inputForm
            .form-group
              label(for="name") Name:
              input#language.form-control(
                name="name", 
                type="text", 
                placeholder="Input...",
                data-bind='value: Name',
                required)
            .form-group
              label(for="age") Age:
              input#framework.form-control(
                name="age", 
                type="number", 
                placeholder="Input...",
                data-bind='value: Age',
                required)
            .form-group
              button#update.btn.btn-primary(
                type="button",
                data-bind="click: update"
                ) Fetch new data
block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  script(src="../../node_modules/knockout/build/output/knockout-latest.js")
  // endbuild