extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content    
      .row.splitter
        .col-lg-12
          h3 Result: 
            span#result       
              | Name: 
              strong(data-bind='text: name')
              |, Age: 
              strong(data-bind='text: age')
              | !
      .row
        .col-lg-3
          .card
            .card-body
              form#inputForm
                .form-group
                  label(for="name") Name:
                  input#language.form-control(
                    name="name", 
                    type="text", 
                    placeholder="Input...",
                    data-bind='value: name',
                    required)
                .form-group
                  label(for="age") Age:
                  input#framework.form-control(
                    name="age", 
                    type="number", 
                    placeholder="Input...",
                    data-bind='value: age',
                    required)
                .form-group
                  button#update.btn.btn-primary(
                    type="button",
                    data-bind="click: add"
                    ) Add
        .col-lg-6
          .card
            .card-body
              table.table.table-striped
                thead.thead-dark
                  th Name
                  th Age
                  th Delete
                tbody(data-bind="foreach: collection")
                  tr
                    td(data-bind="text: name")
                    td(data-bind="text: age")
                    td
                      button(class="btn btn-danger", data-toggle="modal" data-target="#exampleModal" data-bind="click: $parent.remove")
                        i.fa.fa-trash

      #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Are you sure ?
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              | Delete the item...
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close
              button.btn.btn-primary(type='button', data-dismiss='modal', data-bind="click: removeConfirm") Confirm Delete

block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  script(src="../../node_modules/knockout/build/output/knockout-latest.js")
  // endbuild