extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
      .row.splitter
        .col-lg-12
          h3 Result: 
            span#result 0
      .row
        .col-lg-3
          form#percentageCalculatorForm
            .form-group
              label(for="percentageInput") What is the following percentage:
              input#percentageInput.form-control(
                name="percentageInput", 
                type="number", 
                placeholder="10", 
                required)
            .form-group
              label(for="percentageOfInput") Of this number:
              input#percentageOfInput.form-control(
                name="percentageOfInput", 
                type="number", 
                placeholder="100", 
                required)
             
            button.btn.btn-primary(type="submit") Submit
block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  // endbuild