extends ../../pug/layouts/main.pug

block styles
  // build:css css/styles.css
  link(rel="stylesheet" href="css/styles.css")
  // endbuild

block content
      .row.splitter
        .col-lg-12
          h3 Result:  
            span#result.result
      .row.splitter
        .col-lg-12
          h3 Your Results:  
            div#yourResults.result
      .row.splitter
        .col-lg-12
          h3 Unscrabbler Results:  
            div#unscrabblerResults.result
      .row
        .col-lg-3
          form#unscrabblerForm
            .form-group
              label(for="scrabbleInput") Find words in this:
              input#scrabbleInput.form-control(
                name="scrabbleInput", 
                type="text", 
                placeholder="Scrabble...",
                value="Pseleedbnopos"
                readonly)
            .form-group
              label(for="findInput") Enter a word to see if it can be found:
              input#findInput.form-control(
                name="findInput", 
                type="text", 
                placeholder="Sleep...", 
                required)
             
            button.btn.btn-primary(type="submit") Submit
            button#unscrabbleAll.btn.btn-primary(type="button") Unscrabble All
            button#reset.btn.btn-primary(type="button") Reset
block scripts
  // build:js js/app.js
  script(src="js/app.js")
  // endbuild
  // build:js js/vendor.js
  // endbuild